<!-- blog/templates/file.html -->
{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Uploading File</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway:600" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
      <div class="page-header">
        <h1><a href="/">Programming Website</a></h1>
      </div>
        <h1>Uploading File</h1>
        <p>Please fill out the form below to upload your file:</p>
        {% block content %}
<form action="/file/" method="post" enctype="multipart/form-data">
  {% csrf_token %}
    <!-- *name -->
    {{  form.non_field_errors }}
    <div class="fieldWrapper">
        {{ form.name.errors }}
        <label for="id_name">Name</label>
        {{ form.name }}
    </div>
    <p></p>
    <!-- *author
    <div class="fieldWrapper">
        {{ form.author.errors }}
        <label for="id_author">Author</label>
        {{ form.author }}
    </div>-->
    <!-- description -->
    <div class="fieldWrapper">
        {{ form.description.errors }}
        <label for="id_description">Description</label>
        {{ form.description }}
    </div>
    <p></p>
    <!-- language -->
    <div class="fieldWrapper">
        {{ form.language.errors }}
        <label for="id_language">Language</label>
        {{ form.language }}
    </div>
    <p></p>
    <!-- file upload -->
    <div class="fieldWrapper">
        {{ form.file_upload.errors }}
        <label for="id_file_upload">File Upload</label>
        {{ form.file_upload }}
    </div>
    <p></p>
    <!-- upload date -->
    <div class="fieldWrapper">
        {{ form.upload_date.errors }}
        <label for="id_upload_date">Upload Date</label>
        {{ form.upload_date }}
    </div>
    <p></p>
    <button type="submit">Upload</button>
</form>
{% endblock %}
    <div class="links">
      <a href="/">Back home &nbsp</a>
      <a href="/about/">About Page &nbsp</a>
      <a href="/python/">Python Files &nbsp</a>
      <a href="/c/">C Files &nbsp</a>
      <a href="/c++/">C++ Files &nbsp</a>
      <a href="/java/">Java Files &nbsp</a>
    </div>
    </body>
</html>
<!--i class="fa fa-thumb-tack"></i -->
