<!-- blog/templates/index.html -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Programming Website</title>
    </head>
    <body>
        <h1>Programming Website</h1>
        <p>On this website, you will find files from various programming languages, from C to python.
          Go to the appropriate page using the links below</p>
      <a href="/about/">About Page</a>
      <a href="/python/">Python Files</a>
      <a href="/c/">C Files</a>
      <a href="/c++/">C++ Files</a>
      <a href="/java/">Java Files</a>
    </body>
</html>
