<!-- blog/templates/python.html -->
{% extends "base.html" %}
{% block content %}
      <h2>Welcome to the Python Files page</h2>
      <p>
        Below, you will find Python files uploaded from local computers:
      </p>

      {% if files %}
        <ul>
        {% for file in files %}
        <input type="hidden" id="lang" name="language" value="{{ file.language }}">
        <!--input type="hidden" id="name" name="nameb" value="{{ file.name }}"-->

        <script type="text/javascript">
            var thing = "{{ files|escapejs }}";
            document.write({{ file_json.name }});
            var lang = document.getElementById("lang").value;
            var exis;
            if (lang == "PY"){
              exis = "True";
            } else {
                exis = "False";
            }
            post = exis;
            if (post == "True"){
              name = document.getElementById("name").value;;
              document.getElementById("link").innerHTML = name;
            } else {
                break;
            }
          </script>

            <li><a id="link" href="{{ file.file_upload.url }}">Thing</a></li>
        {% endfor %}
        </ul>
      {% else %}
        <p>No files</p>
      {% endif %}

      <script type="text/javascript">
      lan(file);
      </script>
  {% endblock %}
