<!-- blog/templates/python.html -->
{% extends "base.html" %}
{% block content %}
      <h1>Welcome to the Python Files page</h1>
    <p>
       Below, you will find python files uploaded from local computers:
    </p>
    {% if files %}
      <ul>
      {% for file in files %}
        <% if (file.css_class="py") %>
        <% { %>
          <li><a href="{{ file.file_upload.url }}">{{ file.file_upload.name }}</a></li>
          <% } %>
      {% endfor %}
    {% endif %}
      </ul>
      <script>
      function ext(){
        var exten = file.css_class;
        var bool;
        if (exten == "py"){
          bool = True;
        }
        else{
          bool = False;
        }
        document.getElementById("thing").innerHTML = bool;
      }
        </script>

  {% endblock %}
